body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.cover {
  background-image: url('background2.jpg'); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 50px;
}

.open-btn {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #ffffffcc;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.open-btn:hover {
  background-color: #ffffff;
}
